body {
    background-color: rgb(255, 42, 0);
    font-size: 20px;
}

p {
    background-color: rgb(255, 187, 98);
    color:rgb(255, 30, 0);

    border:100px solid rgb(17, 247, 255);

    /* margin will create external space around element */
    margin: 50px;


    padding: 50px;
}

h1 {
    color: greenyellow;
}

/* in css, classes are denotated by a . in front of their class name */
.banner {
    background-color:coral;
    font-size:40px;
    text-align:center;
}