* {
    box-sizing: border-box;
}

img {
    max-width:100%;
}

body {
    margin:0;
}

.box {
    background-color: burlywood;
    width:100px;
    height:100px;
    position: relative;

    /* animation-name: test;
    animation-duration: 5s;
    animation-delay: 2s;
    /* animation-iteration-count: 0; */
    /* animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: both; */

    animation: test 5s 2s infinite ease-in-out alternate both;
}

@keyframes test {
    0% {
        background-color: cadetblue;
        top:0;
    }
    50% {
        background-color: coral;
    }
    100% {
        background-color:greenyellow;
        top:200px;
    }
}

.container {
    background-color: plum;
    height:100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position:relative;
    overflow:hidden;
}

.circle {
    background-color: lightgoldenrodyellow;
    width:200px;
    height:200px;
    border-radius: 100%;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        background-color: lightgoldenrodyellow;
        scale: 1;
    }
    100% {
        background-color: orangered;
        scale: 1.5;
    }
}


.square {
    background-color: blue;
    width:200px;
    height:200px;
    animation: spin 3s infinite linear;
}

@keyframes spin {
    0% {
        rotate: 0;
    }
    100% {
        rotate: 360deg;
    }
}

.mover {
    background-color: lightgoldenrodyellow;
    width:150px;
    height: 40px;
    position:absolute;
    bottom:0;
    left:0;
    animation: move 8s infinite alternate, scale 10s infinite alternate;
}

@keyframes move {
    0% {
       left:-100; 
    }
    100% {
        left:100%;
    }
}

@keyframes scale {
    0% {
        scale:1;
    }
    100% {
        scale:10;
    }
}

.changer {
    background-color:darkcyan;
    height:200px;
    width:200px;
    transition:
        background-color 1s ease-in-out,
        border-radius 1s,
        scale .1s,
        rotate 1s;
}

.changer:hover {
    background-color: purple;
    border-radius: 100%;
    rotate: 100deg;
}

.changer:active {
    background-color: plum;
    scale:.9;
}