body {
    background-color: rgba(28, 205, 232, 0.147);

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-image: url(images/bluecircles.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    filter: saturate(150%);
}

h1 {
    color: rgb(255, 255, 255);

    text-decoration:underline;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: rgb(0, 0, 255);
    font-size: 20px;
    
    padding:30px;

    border: 2px dotted;

    text-align: center;

    background-color: white;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p {
    color: blue;
}

.banner {
    color:gold;
    background-color: rgb(44, 12, 202);
}

.list {
    color:blue;

    font-size: 20px;
    
    padding:30px;
    margin: 30px;

    border: 2px dotted;

    text-align: center;

    background-color: white;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.websites {
    background-color: aliceblue;

    border: dotted 10px;
    border-color: blue;

    text-align: center;

    margin: 20px;
    padding: 20px;
}