body {
    background-color: rgb(252, 250, 164);
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border: solid rgb(89, 255, 0); 
    color: rgb(139, 241, 255);
    background-color: rgb(44, 0, 26);

    text-align: right;
}

p {
    font-family:cursive;

    border: solid rgb(89,255,0); 
    background-color: rgb(139,241,255);
    color: rgb(44,0,26);

    padding: 20px;
    margin: 100px;

    text-align:right;
}

.list {
    font-family:fantasy;

    text-align:right;
}