* {
    box-sizing: border-box;
}

img {
    max-width:100%;
}


h1 {
    font-family: monospace;
    position: relative;
    top:1000px;
    left:200px;
}

body {
    background-image: url(place\ dumpster.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.closedump {
    position: relative;
    bottom:245px;
    left: 400px;
}