* {
    box-sizing: border-box;
}

img {
    max-width:100%;
}

body {
    margin:0;
}

.container {
    background-color:rgb(6, 30, 2);
    padding:10px;
    height:100vh;
    border: solid rgb(3, 54, 3) 50px;
    display: flex;
    flex-direction: column;
}

.smaller {
    background-image: url(trashbags.png);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    display:flex;
    justify-content:center;
    padding:10px;
    gap:10px;
}

.rats {
    width:300px;
    height:300px;
    position: relative;
    right:300px;
    top:200px;
}



